@model IList<UoN.AspNetCore.FeedbackMessage.Models.FeedbackMessageModel>

@foreach (var message in Model)
{
    var cssClasses = new List<string> { $"alert {message.Class} fade show" };
    if (message.Dismissable) { cssClasses.Add("alert-dismissable"); }
    var cssClass = string.Join(" ", cssClasses);
    <div class="@cssClass">
        @if (message.Dismissable)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        }
        @Html.Raw(message.Message)
    </div>
}
